<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="all">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <meta charset="utf-8">
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <br>
            <p>Copy Number:{{ copy.getId }}</p>
            <p>Due Date: {{ copy.getDueDate }}</p>
            {% if copy.getCheckedOut == 0 %}
                <p>This copy is available.</p>
            {% else %}
                <p>This copy is checked out.</p>
            {% endif %}
            <br>
            <br>
            <hr>
            <h4>Update Copy</h4>
            <form action="/book/{{ book.getId }}/edit" method="post">
                <input name="_method" type="hidden" value="update">
                <label for="checkout">Book Status</label>
                    <select id='checkout' name='checkout' class="form-control">
                        <option value="" disabled selected>Choose book status</option>
                        <option value="0">In library</option>
                        <option value="1">Not available</option>
                    </select>
            <br>
            <br>
                <label for="date">Due date:</label>
                <input type="date" name="date" id="date" class="form-control">
            <button type="submit" class="waves-effect waves-light btn-large" name="button">Update copy</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <hr>

            <h5>Delete this Copy</h5>
            <form action="/book/{{ book.getId }}/copy/{{ copy.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">

                <button type="submit" class="waves-effect waves-light btn-large" name="button">Delete</button>
            </form>
            <br>
            <a href="/librarian" type="submit" class="waves-effect waves-light btn-large" name="button">Return to Books</a>
        </div>
  </body>
</html>
