<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="all">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <meta charset="utf-8">
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <h2>{{ book.getTitle }}</h2>
            <h3>{{ copy.getId }}</h3>
            <p>{{ copy.getDueDate }}</p>
            <p>{{ copy.getCheckedOut }}</p>

            <!-- <div class="add-features">
                <div class="row">
                    <div class="col s6">
                        <h5>Add Author</h5>
                        <form action="/book/{{ book.getId }}/add_author" method="post">
                            <label for="name">Author name:</label>
                            <input type="text" name="name" id="name">
                            </br>
                            <button type="submit" class="waves-effect waves-light btn-large" name="button">Submit</button>
                        </form>
                    </div>
                    <div class="col s6">
                        <h5>Add Copy</h5>
                        <form action="/book/{{ book.getId }}/add_copy" method="post" class="form-group">
                                <label for="checkout">Book Status</label>
                                    <select id='checkout' name='checkout' class="form-control">
                                        <option value="" disabled selected>Choose book status</option>
                                        <option value="0">In library</option>
                                        <option value="1">Not available</option>
                                    </select>
                            <br>
                            <br>
                                <label for="date">Due date:</label>
                                <input type="date" name="date" id="date" class="form-control">
                            <button type="submit" class="waves-effect waves-light btn-large" name="button">Add Copy</button>
                        </form>
                    </div>
                </div>
            </div>

            <br>
            <h5>Delete Book</h5>
            <form action="/book/{{ book.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">

                <button type="submit" class="waves-effect waves-light btn-large" name="button">Delete</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <a href="/librarian" type="submit" class="waves-effect waves-light btn-large" name="button">Return</a> -->
        </div>
  </body>
</html>
